@charset "utf-8";
/* CSS Document*/
/*Define the body element's color*/
body{
	background: peru;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
}



.part1A {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part1B {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part1C {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part1D {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

#result1A {
	background-color: red;
	display: inline;
}

#result1B {
	background-color: red;
	display: inline;
	
}

#result1C {
	background-color: red;
	display: inline;
}	

#result1D {
	background-color: green;
	display: inline; 
}																																	

.part2A {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part2B {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part2C {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part2D {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part3A {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part3B {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part3C {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part4A {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part4B {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

.part4C {
	font-family: Verdana, Arial, Sans-Serif;
	height:20px;
    
	width:100px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	color: maroon;
	background-color: darkseagreen;
	display: inline-block;
}

#result2A {
	background-color: green;
	display: inline;
	
}

#result2B {
	background-color: green;
	display: inline;
	
}

#result2C {
	background-color: red;
	display: inline;
}	

#result2D {
	background-color: green;
	display: inline; 
}	

#result3A {
	background-color: green;
	display: inline;
	
}

#result3B {
	background-color: red;
	display: inline;
	
}

#result3C {
	background-color: red;
	display: inline;
}	

#result4A {
	background-color: red;
	display: inline; 
}	

#result4B {
	background-color: red;
	display: inline;
	
}

#result4C {
	background-color: green;
	display: inline;
	
}

